<!--Connecting to the html Doctype page via jinja with python-->
{% extends "base.html" %}
<!--The blocks allow us to input our own data. The original block is placed in base.html
using the jinja library it allows us to overwrite the parent block with our own data and use python-->
{% block title %} Home {% endblock %}
{% block content %}
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">{{note.data}}
        <!--Button to delete existing note-->
        <button type="button" class="close" onclick="">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {%endfor%}
</ul>
<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>

</br>

    <div align="center">
        <button type="submit" class="btn btn-primary">ADD NOTE</button>
    </div>
</form>
{% endblock %}